{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

<div id="OrchardPreloadHider" style="position:fixed; z-index:5000; top:0px; left:0px; width:100%; height:100%; background-color:{{ particle.coverWindowColor }}; display:flex; justify-content:center; align-items:center;">

<div id="orchardPreloaderImage" style="background-image:url('{{ url(particle.coverWindowImage)|e }}'); background-repeat:no-repeat; background-size: cover; opacity:0.5; top:0px; left:0px; width:100%; height:100%; position:absolute;"></div>

  <div style="display:block; width:50%;position:absolute;z-index:100;">
  
    <div id="OrchardImageLoader" style="display:flex; justify-content:center; align-items:center; position:relative;padding:solid 10px yellow; min-width:100px; min-height:100px;">
    
      <img src="{{ particle.loadingImage }}" style="">
      
    </div>

    <h3 id="loadText">Loading site Assets</h3>

    <div style="position:relative; width:100%; height:50px; border:solid 1px black">
      <div id="loadBar" style="display:block; width:0%; height:100%; background-color:{{ particle.loadBarColor }};"></div>
    </div>
    
  </div>

</div>

{% endblock %}

{% block javascript_footer %}

<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

<script>
   
  var queue = new createjs.LoadQueue(true);
  
  //Set up queue handelers
  queue.on("fileload", handleFileLoad, this);
  queue.on("complete", handleComplete, this);
  
  {% for item in particle.items %}
    
    queue.loadFile("{{ url(item.preloadItem)|e }}");
    
  {% endfor %}
  
  //Total number of assets, used for the loading bar (need to check if there is a way to get this info from createjs.LoadQueue)
  var assetsTotal = queue.getItems().length;
  
  var assetCount = 0;
  
  function handleFileLoad() 
  {
  
    //Add 1 to the assetsCount
    assetCount++;

    //Gets the precentage of the total assets / number of assets loaded
    var prec = assetCount / assetsTotal;
    
    console.log("precentage loaded: " + prec);
    
    var fixPrec = Math.round(prec*100) + "%";
    
    jQuery("#loadBar").css("width",fixPrec);
    
    jQuery("#loadText").text("Loading Site Assets: " + fixPrec + " loaded");
  
  }
  
  //Called when the total preload queue is finished
  function handleComplete() 
  {
    
    jQuery("#OrchardPreloadHider").css("display", "none");

  }
        
</script>
    
{% endblock %}
